* {
    font-family: Helvetica;
}
h1, h2 {
    font-family: Helvetica;
    font-weight: bold;
}


h1 {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
    font-size: 100px;
    color: khaki;
    text-align: center;
}
h2 {
    font-size: 32px;
    color: white;
}
.brushes {
    background-color: mediumspringgreen;
}

.price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;

}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}